* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    min-height: 100vh;
}

header, footer {
    background: #005a9c;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #003d73;
    border-radius: 5px;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.intro-section {
    background: #fff;
    padding: 20px;
    padding-right: 90px;
    margin: 40px 0;
    width: 80%;
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-height: 150px; 
}

.slideshow-container, .intro-text {
    flex: 1;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    background: #fff;
    color: #333;
    width: 28%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: block;
    text-decoration: none;
    transition: transform 0.3s;
    margin-bottom: 20px; 
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80%; 
    height: auto;
    max-height: 160px;
    object-fit: cover;
    margin-bottom: 20px; 
}

.slideshow-container {
    position: relative;
    max-width: auto;
    margin-left: 50px;
    height: 200px;
    overflow: hidden;
}

.slides {
    width: auto;
    height: 200px;
    display: block;
    object-fit: cover;
}


footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    width: 100%;
}

.non-interactive-card:hover {
    transform: none; 
    cursor: default;
}

#map-container, #city-info {
    flex: 1;  
    width: 45%; 
    margin: 2%; 
    min-height: 400px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: list-item;
        margin: 15px;
    }

    .intro-section {
        flex-direction: column;
    }

    .info-cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 10px auto;
    }

    .slideshow-container, .intro-text {
        width: 100%;
    }
}
